storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
storage/mysql-data

vendor

**/*node_modules

**.git
**.gitignore
**.gitattributes
**.sass-cache
.env.example
.editorconfig

*.config.js
package.json
README.md
phpspec.yml

Dockerfile
docker-compose.yml
.dockerignore


.idea
_ide_helper.php
.phpstorm.meta.php

.vscode
